<div ng-if="vm.appContext.user.role === 'admin'" class="text-right w3-padding">
    <button type="button" style="margin-left: 20px;" class="w3-button w3-green" ng-if="!vm.item"
        ui-sref="board.save({'articleType': $stateParams.articleType, 'articleId':null})">
        New
    </button>
</div>

<div ng-if="vm.item" ng-bind-html="vm.trustAsHtml(vm.item.content)" style="margin-top: 16px; min-height:250px;">
</div>
<!-- <div>vm.appContext.menu{{vm.appContext.menu}}</div> -->
<div ng-if="vm.appContext.menu.contactFormRequired" class="w3-padding w3-text-gray" style="background: #eeeeee;">
    <h3 class="w3-center">Send message</h3>
    <p>
        <strong>Name</strong>
        <br />
        <input class="w3-input w3-border" ng-model="vm.data.name" type="text" />
    </p>
    <p>
        <strong>E-mail</strong>
        <br />
        <input class="w3-input w3-border" ng-model="vm.data.email" type="text" />
    </p>
    <p>
        <strong>Title</strong>
        <br />
        <input class="w3-input w3-border" ng-model="vm.data.title" type="text" />
    </p>
    <p>
        <strong>Message</strong>
        <br />
        <textarea class="w3-input w3-border" ng-model="vm.data.message" type="text" />
    </p>
    <div class="w3-row">
        <button class="w3-button w3-blue w3-green" ng-click="vm.sendMail()">Send Mail</button>
    </div>
</div>


<div class="w3-row w3-border-bottom" ng-if="vm.item.images.length">
    <div class="w3-col m2 w3-padding">
        <b>Images</b>
    </div>
    <div class="w3-col m10 w3-padding">
        <div class="w3-row" ng-repeat="file in vm.item.images">
            <div class="w3-col m2 w3-padding">
                <img ng-src="{{vm.config.apiUrl + '/files/' + file.filename}}" alt="" style="max-height:25px;">
            </div>
            <div class="w3-col m8 w3-padding">
                <a class="w3-padding-small w3-small" ng-href="{{ vm.config.apiUrl + '/files/' + file.filename }}" target="_blank">
                    {{file.originalname}}
                </a>
            </div>
            <div class="w3-col m2 w3-padding">
                <a class="w3-button w3-small w3-padding-small" ng-href="{{ vm.config.apiUrl + '/files/' + file.filename }}" download="download">Download
                    <i class="fas fa-download"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="w3-row w3-border-bottom" ng-if="vm.item.files.length">
    <div class="w3-col m2 w3-padding">
        <b>Files</b>
    </div>
    <div class="w3-col m10 w3-padding">
        <div class="w3-row" ng-repeat="file in vm.item.files">
            <div class="w3-col m2 w3-padding">
                <img ng-src="{{vm.config.apiUrl + '/files/' + file.filename}}" alt="" style="max-height:25px;">
            </div>
            <div class="w3-col m8 w3-padding">
                <a class="w3-padding-small w3-small" ng-href="{{ vm.config.apiUrl + '/files/' + file.filename }}" target="_blank">
                    {{file.originalname}}
                </a>
            </div>
            <div class="w3-col m2 w3-padding">
                <a class="w3-button w3-small w3-padding-small" ng-href="{{ vm.config.apiUrl + '/files/' + file.filename }}" download="download">Download
                    <i class="fas fa-download"></i>
                </a>
            </div>
        </div>
    </div>
</div>



<div ng-if="vm.appContext.user.role === 'admin'" class="text-right w3-padding">
    <button class="w3-button w3-green" ng-if="vm.item" ui-sref="board.save( {'articleType':$stateParams.articleType, 'articleId':vm.item._id })">Edit
    </button>
    <button class="w3-button w3-red" ng-if="vm.item" ng-click="vm.delete(vm.item._id)">Delete</button>
</div>




