<!doctype html>
<html lang="en-KR" ng-app="app" ng-controller="main.ctrl as vm" ng-cloak>

<head>

  <meta charset="utf-8">
  <meta name="google" value="notranslate">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title ng-bind="vm.appContext.pageTitle">Loading...</title>

  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="node_modules/angular-confirm1/dist/angular-confirm.min.css" />
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="node_modules/angular-date-picker/angular-date-picker.css" />
  <link rel="stylesheet" href="node_modules/angular-toastr/dist/angular-toastr.min.css" />
  <link rel="stylesheet" href="node_modules/summernote/dist/summernote.css" />
  <link rel="stylesheet" href="node_modules/slick-carousel/slick/slick.css" />
  <link rel="stylesheet" href="node_modules/slick-carousel/slick/slick-theme.css" />
  <link rel="stylesheet" href="css/w3pre.css" />
  <link rel="stylesheet" href="node_modules/w3-css/3/w3.css" />
  <link rel="stylesheet" href="css/w3post.css" />
  <link rel="stylesheet" href="css/style.css" />

  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="node_modules/moment/min/moment-with-locales.js"></script>
  <script src="node_modules/summernote/dist/summernote.js"></script>
  <script src="node_modules/tinymce/tinymce.js"></script>
  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/angular-confirm1/dist/angular-confirm.min.js"></script>
  <script src="node_modules/angular-summernote/dist/angular-summernote.js"></script>
  <script src="node_modules/angular-ui-tinymce/src/tinymce.js"></script>
  <script src="node_modules/angular-paging/dist/paging.min.js"></script>
  <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="node_modules/angular-animate/angular-animate.js"></script>
  <script src="node_modules/angular-toastr/dist/angular-toastr.min.js"></script>
  <script src="node_modules/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
  <script src="node_modules/angular-date-picker/angular-date-picker.js"></script>
  <script src="node_modules/satellizer/dist/satellizer.min.js"></script>
  <script src="node_modules/angular-base64/angular-base64.min.js"></script>
  <script src="node_modules/angular-sanitize/angular-sanitize.js"></script>
  <script src="node_modules/angular-disqus/angular-disqus.min.js"></script>
  <script src="node_modules/lodash/lodash.min.js"></script>
  <script src="node_modules/slick-carousel/slick/slick.min.js"></script>
  <script src="node_modules/angular-slick/dist/slick.min.js"></script>



  <script src="app.js"></script>

  <script src="constant.js"></script>

  <script src="services/appContext.service.js"></script>
  <script src="services/user.service.js"></script>
  <script src="services/board.service.js"></script>
  <script src="services/header.service.js"></script>

  <script src="pages/main.js"></script>
  <script src="pages/home/sdsn.js"></script>
  <script src="pages/auth/signin.js"></script>
  <script src="pages/auth/signup.js"></script>
  <script src="pages/board/board.js"></script>
  <script src="pages/board/save.js"></script>
  <script src="pages/board/home.js"></script>
  <script src="pages/board/list.js"></script>
  <script src="pages/board/page.js"></script>
  <script src="pages/board/view.js"></script>
</head>

<body ng-click="vm.bodyClick();" ng-cloak>
  <div ng-include="'pages/header.html'"></div>
  <div style="max-width:990px;margin: 20px auto;">
    <div class="w3-row-padding" ng-if="'home signin signup'.indexOf($state.current.name) > -1 || $stateParams.main_menu === 'home'">
      <div class="w3-col m12">
        <div ui-view></div>
      </div>
    </div>
    <div class="w3-row-padding" ng-if="$stateParams.main_menu != 'home' && 'home signin signup'.indexOf($state.current.name) === -1">
      <div class="w3-col m2">
        <div ng-include="'pages/sidebar.html'"></div>
      </div>
      <div class="w3-col m10" style="padding-left: 24px;">
        <div ui-view></div>
      </div>
    </div>
  </div>
  <div ng-include="'pages/footer.html'"></div>
<!-- 
<div class="w3-sidebar w3-light-grey w3-card-4 w3-animate-left" style="width: 180px; display: none;" id="mySidebar">
  <div class="w3-bar w3-dark-grey">
    <span class="w3-bar-item w3-padding-16">Content</span>
    <button onclick="w3_close()" class="w3-bar-item w3-button w3-right w3-padding-16" title="close Sidebar">×</button>
  </div>
  <div class="w3-bar-block">

      <a href="#" class="w3-bar-item w3-button">Link 1</a>
      <button class="w3-button w3-block w3-left-align" onclick="myAccFunc()">
        Accordion
        <i class="fa fa-caret-down"></i>
      </button>
      <div id="demoAcc" class="w3-hide w3-white w3-card">
        <a href="#" class="w3-bar-item w3-button">Link</a>
        <a href="#" class="w3-bar-item w3-button">Link</a>
      </div>
      
      <div class="w3-dropdown-click">
        <button class="w3-button" onclick="myDropFunc()">
          Dropdown
          <i class="fa fa-caret-down"></i>
        </button>
        <div id="demoDrop" class="w3-dropdown-content w3-bar-block w3-white w3-card">
          <a href="#" class="w3-bar-item w3-button">Link</a>
          <a href="#" class="w3-bar-item w3-button">Link</a>
        </div>
      </div>
      <a href="#" class="w3-bar-item w3-button">Link 2</a>
      <a href="#" class="w3-bar-item w3-button">Link 3</a>


    <a class="w3-bar-item w3-button w3-green" href="javascript:void(0)">Home</a>
    <a class="w3-bar-item w3-button" href="javascript:void(0)">About</a>
    <a class="w3-bar-item w3-button" href="javascript:void(0)">Contact</a>
    <div class="w3-dropdown-hover">
      <a class="w3-button" href="javascript:void(0)">Dropdown
        <i class="fa fa-caret-down"></i>
      </a>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a class="w3-bar-item w3-button" href="javascript:void(0)">Link 1</a>
        <a class="w3-bar-item w3-button" href="javascript:void(0)">Link 2</a>
        <a class="w3-bar-item w3-button" href="javascript:void(0)">Link 3</a>
      </div>
    </div>
    <a class="w3-bar-item w3-button" href="javascript:void(0)">Support</a>
  </div>
</div>

<div id="main" style="margin-left: 0px;">

  <div class="w3-container w3-display-container">
    <span title="open Sidebar" style="display: inline-block;" id="openNav" class="w3-button w3-transparent w3-display-topleft w3-xlarge"
      onclick="w3_open()">☰</span>
    <span title="open Sidebar" style="display: inline-block;" id="openNav" class="w3-button w3-transparent w3-display-topleft w3-xlarge"
      onclick="w3_open()"></span>
      
    <h3 class="h3" style="position:fixed;top:36px;">My Page</h3>
    <h3>isMobile : {{vm.appContext.isMobile}}</h3>
  </div>

</div> -->

</body>

</html>